<script type="text/javascript">

  $(document).ready(function () {
    $("#error").hide()
    $("#treeTable").DataTable({
      ajax: "http://localhost:8080/api/trees",
      columns: [
        { data: "id" },
        { data: "girth" },
        { data: "height" },
        { data: "volume" },
      ],
    })
    $("#newTreeBtn").click(function () {
      $("#error").hide()

      var jsonStr = JSON.stringify({
        girth: parseFloat($("#newGirth").val()),
        height: parseFloat($("#newHeight").val()),
        volume: parseFloat($("#newVolume").val()),
      })

      $.ajax({
        'url': 'api/trees',
        'type': 'POST',
        'contentType': "application/json; charset=utf-8",
        'dataType': 'json',
        'data': jsonStr,
        'success': function (res) {
          location.reload()
        }
      }).fail(function (a, b, c) {
        $("#error").show()
        $("#error").text(a.responseText)
      })
    })

    $("#editTreeBtn").click(function () {
      $("#error").hide()

      var treeId = $("#editId").val()

      var jsonStr = JSON.stringify({
        girth: parseFloat($("#editGirth").val()),
        height: parseFloat($("#editHeight").val()),
        volume: parseFloat($("#editVolume").val()),
      })

      $.ajax({
        'url': ['api/trees/', treeId].join(''),
        'type': 'PUT',
        'contentType': "application/json; charset=utf-8",
        'dataType': 'json',
        'data': jsonStr,
        'success': function (res) {
          location.reload()
        }
      }).fail(function (a, b, c) {
        $("#error").show()
        $("#error").text(a.responseText)
      })
    })

    $("#deleteTreeBtn").click(function () {
      $("#error").hide()

      var treeId = $("#deleteId").val()

      $.ajax({
        'url': ['api/trees/', treeId].join(''),
        'type': 'DELETE',
        'success': function (res) {
          location.reload()
        }
      }).fail(function (a, b, c) {
        $("#error").show()
        $("#error").text(a.responseText)
      })
    })
  })
</script>

<a class="btn btn-secondary mb-2" href="/">Return to homepage</a>

<div id="error" class="alert alert-danger" role="alert">Error</div>

<div class="border p-4 mb-4">
  <h4 class="mb-2 text-center">List of Tree Data</h4>
  <table id="treeTable" class="display">
    <thead>
      <tr>
        <th>ID</th>
        <th>Girth (in)</th>
        <th>Height (ft)</th>
        <th>Volume (ft^3)</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

<div class="row mb-4">
  <div class="col">
    <input id="newGirth" type="number" class="form-control" placeholder="Girth">
  </div>
  <div class="col">
    <input id="newHeight" type="number" class="form-control" placeholder="Height">
  </div>
  <div class="col">
    <input id="newVolume" type="number" class="form-control" placeholder="Volume">
  </div>
  <div class="col">
    <button id="newTreeBtn" class="btn btn-success">Add New Tree</button>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <input id="editId" type="number" class="form-control" placeholder="Tree ID">
  </div>
  <div class="col">
    <input id="editGirth" type="number" class="form-control" placeholder="Girth">
  </div>
  <div class="col">
    <input id="editHeight" type="number" class="form-control" placeholder="Height">
  </div>
  <div class="col">
    <input id="editVolume" type="number" class="form-control" placeholder="Volume">
  </div>
  <div class="col">
    <button id="editTreeBtn" class="btn btn-primary">Edit Existing Tree</button>
  </div>
</div>

<div class="row mb-5">
  <div class="col">
    <input id="deleteId" type="number" class="form-control" placeholder="Tree ID">
  </div>
  <div class="col">
    <button id="deleteTreeBtn" class="btn btn-danger">Delete Tree</button>
  </div>
</div>