<div class="text-center mt-5">
  {{#if isAuthenticated}}
  <a class="btn btn-primary" href="/dashboard">API Dashboard</a>
  <a class="btn btn-primary" href="/logout">Logout</a>
  {{else}}
  <a class="btn btn-primary" href="/login">Login</a>
  {{/if}}
</div>