<script type="text/javascript">

  $(document).ready(function () {
    $("#error").hide()

    $("#login").click(function () {
      var jsonStr = JSON.stringify({
        username: $("#username").val(),
        password: $("#password").val()
      })
      $.ajax({
        'url': 'http://localhost:8080/api/auth/login',
        'type': 'POST',
        'contentType': "application/json; charset=utf-8",
        'dataType': 'json',
        'data': jsonStr,
        'success': function (res) {
          $(location).attr("href", "dashboard/");
        }
      }).fail(function (a, b, c) {
        $("#error").show()
        $("#error").text(a.responseText)
      })
    })
  })

</script>

<div class="row justify-content-md-center mt-3">
  <div class="col-md-4">

    <div id="error" class="alert alert-danger" role="alert">Error</div>

    <h1>Login</h1>

    <div class="form-group">
      <label for="username">Username</label>
      <input name="username" class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control" id="password">
    </div>

    <button id="login" class="btn btn-primary mt-3">Login</button>

  </div>
</div>